body {
  margin: 0;
  background-color: #dbe3ed;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
}
.search-form {
  padding-bottom: 50px;
  padding-top: 25vh;
}

.padding-top {
  padding-top: 30px;
}

.search-form > input {
  height: 30px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/* .gallery + .search-form {
  padding-top: 10px;
} */

.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.list {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.img-wrapper {
  height: 220px;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.stats-item:nth-child(1) .material-icons {
  color: #131396;
}

.stats-item:nth-child(2) .material-icons {
  color: #10a07c;
}

.stats-item:nth-child(3) .material-icons {
  color: #000;
}
.stats-item:nth-child(4) .material-icons {
  color: #494949;
}
.material-icons {
  padding-right: 7px;
}
.button {
  all: unset;
  color: #fff;
  background-color: blueviolet;
  border: none;
  height: 35px;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 700;
  box-sizing: border-box;
}

button:hover {
  color: #000;
  background-color: #dbe3ed;
  border: 2px solid blueviolet;
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.pnotify {
  position: fixed;
  top: 30px;
  right: -200px;

  /* top: 10px; */
  /* right: 10px; */
}
.pnotify-container {
  display: flex;
  flex-wrap: wrap;
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}
.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}
